.state-open {
    color: #22e609
}

.state-closed {
    color: #ec1f1f
}

.search-form-field {
    width: 100%;
}

.issue-body /deep/ img {
    width: 100%;    
}

.issue-body /deep/ code {
    white-space: normal;    
}

